*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", serif;
}
body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, hsla(197, 74%, 43%, 1) 0%, hsla(27, 81%, 58%, 1) 100%);
}